body{
    height: 100%;
}
main{
    background-color: wheat;
}
p img{
    width: 200px;
}
#divInputs{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.bg-modal {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.75);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    transition: 650ms;
}

.modal {
    width: 70%;
    background-color: #f0dada;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal h1 {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    text-align: center;
    color: #b93333f8;
    margin: 10px;

}

.modal h3 {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    text-align: center;
    color: #b93333f8;
    margin: 5px;
}

.modal p {
    font-family: 'Satisfy', cursive;
    padding: 0 15px;
}
@keyframes up {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-700px) rotate(960deg);
    }
}