/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=IBM+Plex+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Estonia&family=IBM+Plex+Serif:ital,wght@1,700&display=swap');

body{
    background-image: url(../img/fundo-fotografico-em-tecido-mapa-do-tesouro-2-60-x-1-50-painel.jpg);
    background-size: cover;
}

header{
    background-color: #f5f5dcbd;
    display: flex;
    justify-content: space-between;
}

header audio{
    display: none;
    height: 20px;
}

nav{
    font-size: 16px;
    line-height: 20px
}

nav a{
    font-size: 16px;
    color: #3f2209;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    width: 100%;
    font-family: 'Estonia';
    text-align: center;
    margin: 20px auto;
    font-size: 80px;
    line-height: 60px;
    background-color: #f5f5dcbd;
}
table{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 30px;
    max-width: 600px;
    margin: 20px 0;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    background-color: #f5f5dcbd;
}

td:hover {
    border: 1px solid black;
    cursor: pointer; 
}

td{
    width: 10%;
    padding: 1% 0%;
    margin-top: 10px;    
    border: 1px solid transparent;  
}
h3{
    font-family: 'Estonia';
    text-align: center;    
    font-size: 55px;
    margin-bottom: -10px;
}

main div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5dcbd;
    width: 250px;
    border-radius: 50%;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 16px; 
}
.riscar{
    text-decoration: line-through;
}
.marcar{
    text-decoration:line-through; 
    color: rgb(255, 174, 0);  
}
.bg-modal {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.75);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    transition: 650ms;
}



.modal, .modalVitoria {
    width: 70%;
    background-color: #dcedec;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal h1, .modalVitoria h1{
    font-family: 'Estonia';
    font-size: 3.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: #58420b;;
    margin: 10px;
}

.modal h3, .modalVitoria h3{
    font-family: 'Cormorant Garamond', serif, cursive;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: #af9606;
    margin: 5px;
}

.modal p {
    font-family: 'Cormorant Garamond', serif, cursive;
    font-weight: 700;
    padding: 0 15px;
    color: #8b6810;
}

.bg-modalVitoria {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.75);
    position: fixed;
    z-index: 2;
    top: -150%;
    left: 0;
    display: block;
    transition: 650ms;
}

.modalVitoria p {
    font-family: 'Satisfy', cursive;
    padding: 0 15px;
}

.play-button {
    cursor: pointer;
    color: #EEC900;
    background-color: #f5f5dcbd;
    height: 50px;
    font-size: 20px;
}

.jogarNovamente{
    cursor: pointer;
    color: #DAA520;
    background-color: #f5f5dcbd; 
    height: 50px;
    font-size: 20px;
}

.bau{
    float: right;
    min-width: 300px;
    width: 50%;  
}

.pirata{
    float: right;
    min-width: 300px;
    width: 50%;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-700px) rotate(960deg);
    }
}

@media screen and (min-width: 500px){
    table{
        width: 40%;
        text-align: center;
        border: 1px solid blue;     
    } 
    .modal {
        width: 50%;
        max-width: 500px;
        background-color: #dcedec;
        border: 1px solid #000000;
        border-radius: 5px;
        margin: 100px auto 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .modalVitoria {
        width: 50%;
        max-width: 500px;
        background-color: #dcedec;
        border: 1px solid #000000;
        border-radius: 5px;
        margin: 100px auto 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .pirata{
        float: right;
        max-width: 800px;
        width: 30%;
    }
    
    .bau{
        float: right;
        max-width: 800px;
        width: 30%; 
    } 

    header audio{
        display: inline;
    }

}

